{% extends 'base.html' %}

{% block title %}How it works!!{% endblock %}

{% block content %}
{% load static %}

<div class="hero-unit">
    <center><h3>iWalk - How it works</h3></center>
    <p><b>This page explains the steps you need to follow in order to participate in iWalk.</b>
    <ol>
    	<li><b>Register at this site:</b> You must register at this site first. </li>
    	<li><b>Get a steps tracking device or app:</b> You will need a device or a smartphone app to track your daily steps. You can buy and use a device, called pedometer, to track your daily steps. Price of a pedometer ranges from couple of dollars to $100+. Expansive perdometer comes with more features than a cheaper one. Basic steps tracking is available in all pedometers. Please note that very cheap pedometers may not be realiable and have tendency to go bad quicker. A reasonable pedometer with basic steps tracking capabilities can be purchased for $8. Please contact a team member for more information.</br>
    	If you have a smartphone, there are many free apps available for tracking daily steps. You can install one of them on your smartphone and use it for tracking steps. If you need guidance or help regarding a specific app, please contact team members.</li>
    	<li><b>Track your daily steps:</b> During this event, you should track your daily steps and enter them at this site. You will need to login in order to enter your daily steps.</br>
    		Please note that many pedometers and almost all of the steps tracking apps reset the steps count every day and keep history of previous days step counts. But there are few pedometers where you have to reset the counter at the end of your day. If you have one of those pedometers, please make a note of your steps for that day before you reset it.</li>
        <li><b>Particiaption fee:</b> This is a nominal charge to participate in this event. Please contact a team member to find out more.

    </ol>
</div>

{% endblock %}
