{% extends 'base.html' %}

{% block title %}Welcome!!{% endblock %}

{% block content %}
{% load static %}

<div class="hero-unit">
	<center><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTutxJk41H85VmtrCleOswzTn8EZlFddRzJiR9ON6UdyJb_1l3j1A">
		<h4> ARE YOU READY FOR THE CHALLENGE?</h4></center>
	</br>
    <h4> Event starts on June 1, 2014. </h4>
    <p>Make sure you have either a pedometer or a mobile app to track your steps starting June 1st. </p>
    <p>Check out <a href="/howitworks">How It Works</a> for more details.</p>
	</br>
    <h4> This site allows you to enter your daily step counts. </h4>
    <p>There are few options at the top of this page. </p>
    Select <b>'Steps Entry'</b> to enter your steps for a specific date. During this event, you should enter your step counts for each day.</br>
    Select <b>'Steps History'</b> to view a list of all the steps which you have entered so far during this event.</br>
    Select <b>'HowItWorks'</b> to learn exactly that, how it works!.</br>
    <b>'Profile'</b> will show your account information.</br>
</div>

{% endblock %}

{% block sidebar %}
<p class="text-center">
  Name: <b> {{ member.first_name }} {{ member.last_name }}</b>
</p>
<p class="text-center">
  Group: <b> {{ member.groupname }}</b> 
</p>
<p class="text-center">
  Event: <b> {{ event.eventname }}</b> 
</p>

{% endblock %}